<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-action-list>
      <h3>
        Projects

        <button mat-icon-button (click)="addNewProject()">+</button>
      </h3>


      <button *ngFor="let project of projects$|async"
              mat-list-item [class.selected]="project.id === selectedProject?.id"
              (click)="selectProject(project)">
        {{ project.name }}
      </button>
    </mat-action-list>

  </mat-drawer>
  <mat-drawer-content>
    <div *ngIf="selectedProject != null"
         class="project-content">
      <h2>{{selectedProject.name}}</h2>

      <button mat-raised-button (click)="editProjectName()">Edit</button>
      <button mat-raised-button (click)="deleteProject()">Delete</button>

      <app-worker-code [projectId]="selectedProject.id">

      </app-worker-code>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
